@CHARSET "ISO-8859-1";
body{
	margin:0px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	background-image: url("../img/bg.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	height: 100%;
}

.topo{
	background: url('../img/bgTop.png') repeat-x; 
	height:42px;
	width: 100%;
	//position: fixed;
	//margin-top: -40px;
	//z-index: 9999;
}

.headerIcons{
	float:right; 
	padding:0px 5px;
}

.searchButton input{
	background-image: url('../img/search.png');
	height:23px;
	width:24px;
	border:0px;
}

.whitePadding{
	padding-top: 10px;
	padding-bottom: 10px; 
	color:#ffffff;
}

.sectionTitle
{
	margin-bottom: 10px;
	font-size: 20px;
	text-align: left;
}

.whiteLink,
.whiteLink a
{
	text-decoration: none;
	color: #ffffff;
}

.whiteBottomBorder
{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ffffff;
}

.leftColumn
{
	width: 10%;
}

.rightColumn
{
	width: 9%;
}

.middleColumn
{
	width: 80%;
}

.borderLogin
{
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}
.smallRedLink
{
	font-size: 10px;
	color: #A70000;
	text-decoration: none;
}

.grayBorder
{
	border:1px solid #999999;
}



.noticia a,
.links a{
	color:#A70000;
	text-decoration: none;
}

.links li{
	list-style-type: square;
	color: #A70000;
}

#body-content{
	//margin-top: 40px;
}

.content{
	padding:10px 20px;
}

.newsHeading{
	font-size: 28px;
	color: #A70000;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 10px;
}

.newsDate,
.newsSource{
	font-size:11px;
	font-style: italic;
	color: #333333;
	margin: 5px 0px 10px 0px;
}

.newsBody{
	font-size:12px;
	color: #000000;
	text-align: justify;
}

#search .input{
	float:left;
	width:90%;
}

#search .input input{
	width: 200px;
	height: 20px;
}

.searchButton{
	float:left;
}

.underLine{
	border-bottom: 1px solid #c0c0c0;
}

.section{
	font-size: 20px;
	color:#666666;
	margin-bottom: 10px;
}

.loginheader
{
	float: right; 
	width: 40%; 
	min-width: 450px;
	padding-top: 10px;
	text-align: left;
}

.logoheader
{
	float: left; 
	width: 25%; 
	margin-top: 25px; 
	margin-right: 40px; 
	margin-bottom:20px;
	text-align: left;
	min-width: 234px;
}

#search
{
	width:282px; float: right;
}

#services .images
{
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
}

#services
{
	margin-bottom: 10px;
}

#news
{
	width:45%; 
	float:left; 
	margin: 5px 10px 0px 10px;
}

#events
{
	padding:10px 10px;
	width:530px; 
	float:left; 
	background-color: #f0f0f0; 
	margin: 5px 10px 5px 10px;
}

#links
{
	width:50%; 
	float:left; 
	margin: 5px 10px 5px 10px; 
	position: relative;
}

#support
{
	 width:46%; 
	 float:left; 
	 margin: 5px 10px 5px 10px; 
	 position: relative;
}

#social
{
	width: 75%;
}

#tweet
{
	float: left; 
	position: relative; 
	margin-right: 20px; 
	width: 60%;
}

#sociallinks
{
	float: left; 
	position: relative; 
	text-align: left; 
	padding-bottom: 10px; 
	width: 38%;
}

#support ul
{
	display: inline;
	list-style-type: none;
}

/*

	CSS DO MENU DO TOPO DA PÁGINA

*/

#menu,
#menuBottom
{
	margin: 0;
	padding: 0;
	height: 40px;
}
#menu
{
	background-image: url("../img/bgMenuTop.png");
}

#menuBottom ul,
#menu ul
{
	text-align: center;

	list-style-type: none;
	line-height: 40px;
}

#menuBottom ul li,
#menu ul li
{
	display: inline;
}

#menuBottom ul li a,
#menu ul li a{
	display: inline;
	line-height: 40px;
	padding-right: 12px;
	padding-left:12px;
	text-decoration:none;
	color: #ffffff;
	background-image: url("../img/bgMenuDivider.png");
	background-repeat: no-repeat;
	background-position: right;	
}
#menuBottom ul li:last-child a,
#menu ul li:last-child a{
	background-image: none;
}

#menu ul li a:hover,
#menuBottom ul li a:hover{
	color: #8ac4ff;
}

/*	FIM DO CSS DO MENU DO TOPO */

.floatLeft,
.wellServices
{
	float: left;
	text-align: justify;
}

.floatLeft
{
	width: 40%;
	margin-right: 40px;
}

.wellServices
{
	width: 28%;
	margin-right: 10px;
}